body {
    margin: 0;
    padding: 0;
}

#increase,
#decrease {
    height: 30px;
    widows: 100px;
    text-align: center;
    background: #fff;
    position: absolute;

}

#increase {
    right: 0;
}

#decrease {
    left: 0;
}

canvas {
    background: #000;
}

#number-of-balls {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    border: 2px solid;
}